.main__offer--big{
    width: 90%;
    margin: 0 auto;
}
    .offer__btn--big{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: none;
        background-color: #fcfcfc;
        border: 1px solid #00ad6a;
        border-radius: 0.5em;
        padding: 0;
        cursor: pointer;
    }
        
        .offer__top{
            width: 100%;
            font-size: 0.8rem;
            background-color: #00ad6a;
            color: #fcfcfc;
            font-weight: 800;
            border-radius: 0.5em 0.5em 0 0;
            text-transform: uppercase;
            padding: 0.8em 0;
        }

        .offer__container{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            padding: 0 1em;
        }
            .offer__info{
                display: flex;
                flex-direction: column;
            }

                .info__title{
                    width: 100%;
                    text-align:start;
                    color: #00ad6a;
                    font-size: 2.5rem;
                    font-weight: 900;
                    line-height: 1;
                    margin: 0.4em 0 0 0;
                }

                .info__price{
                    text-align: start;
                    font-size: 1.4rem;
                    color: rgb(85, 81, 81);
                    margin: 0 0 2em 0;
                }
                
            .offer__text{
                font-size: 0.8rem;
                color: #080c16;
                font-weight: 900;
                text-transform: uppercase;
                margin: 0 0 1em 0;
                letter-spacing: 1px;
            }

            .offer__list{
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
            }
            
            .offer__signup{
                width: 98%;
                color: #080c16;
                font-size: 1.2rem;
                font-weight: 900;
                background-color: #1fe374;
                margin: 1em auto;
                padding: 0.5em;
            }