.main__offer--medium{
    width: 90%;
    margin: 0 auto;
    
}
    .offer__btn--medium{
        width: 100%;
        display: flex;
        flex-direction: column;
        background: none;
        border: 1px solid var(--gray);
        background-color: #ffffff;
        margin: 2em 0;
        padding: 0;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
    }
    
        .offer__top--medium{
            width: 100%;
            background-color: #f2f3f3;
            border-bottom: 1px solid var(--gray);
            color: #464951;
            font-size: 1rem;
            font-weight: 400;
            padding: 1em 0;
        }

        .offer__container--medium{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            padding: 0 1em;
        }

            .offer__info--medium{
                display: flex;
                flex-direction: column;
            }

                .info__title--medium{
                    text-align: start;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    color: #00ad6a;
                    font-size: 2.4rem;
                    font-weight: 400;
                    line-height: 1;
                    margin: 0.5em 0 0.1em 0;
                }

                .info__price--medium{
                    text-align: start;
                    font-size: 1.2rem;
                    color: rgb(85, 81, 81);
                    margin: 0 0 1.5em 0;
                }
        
            .offer__text--medium{
                text-align: start;
                font-size: 0.8rem;
                color: #080c16;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 1px;
                margin: 1em 0;
            }

            .offer__list--medium{
                width: 100%;
                display: flex;
                flex-direction: column;
                padding: 0;
            }

                .offer__item--medium{
                    padding: 0;
                }
            
            .offer__signup--medium{
                width: 95%;
                color: rgba(0, 0, 0, 0.7);
                font-size: 1.5rem;
                font-weight: 700;
                background-color: #1fe374;
                margin: 1em auto 0.6em;
                padding: 0.3em 0;
            }
            .main__offer--medium:hover .offer__signup--medium{
                transform: scale(1.1); 
            }