    .main__offer--small{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

        .offer__title--small{
            font-size: 1.3rem;
            color: #00ad6a;
            font-weight: 900;
            margin: 0.5em 0;
        }
        
        .offer__list--small{
            width: 100%;
            margin: 1em 0;
        }

            .offer__item--small{
                color: rgba(41, 37, 37, 0.7);
            }
        
        .offer__text--small{
            text-align: start;
            margin: 0 0 2em 0;
        }

            .offer__btn--small{
                position: relative;
                background: none;
                border: none;
                cursor: pointer;
            } 
            .offer__btn--small::before{
                content: "";
                position: absolute;
                bottom: 5px; 
                left: 5px;
                width: 90%;
                height: 1px;
                background-color:black
            }   