@import url('big.css');
@import url('medium.css');
@import url('small.css');
@import url('responsive.css');

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  
  *{
    margin: 0;
  }

  :root{
    --green:#00ad6a;
    --lightgreen:#1fe374;
    --gray:#d6dae5;
    --lightgray:#eafaf1;
    --black:#080c16;
    --white:#fcfcfc;
  }

  body {
    
    line-height: 1.5;
    
    -webkit-font-smoothing: antialiased;

    font-family: 'Work Sans';

  }
  
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  
  input, button, textarea, select {
    font: inherit;
  }
  
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }




/*--------°°°°°°°°°--------------*/
            /*HEADER*/
/*--------°°°°°°°°°--------------*/





    .card__header{
        background-color: var(--white);
        position: relative;
    }

        .header__navbar{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 11;
        }
            .navbar__logo{
                margin: 1em 1.5em;
            }

            .navbar__container{
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            
            .navbar__links {
                display: none;
                background-color: #eafaf1;
                height: 80vh;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                bottom: 0;
                flex-direction: column;
                align-items: start;
                justify-content: start;
                padding: 1em 0;
                
            }
                
                .navbar__links.active{
                    display: flex;
                }

                    .navbar__item{
                        list-style: none;
                    }

                        .navbar__link{
                            color: #00ad6a;
                            font-size: 2.4rem;
                            font-weight: 900;  
                            padding: 1em;     
                            margin: 2em 0;                     
                        }

                        .navbar__button{
                            background-image: linear-gradient(90deg, #00ab6a, #23ea76);
                            border: none;
                            font-weight: 900;
                            padding: 1em;
                            margin: 1em 2em;
                            
                        }

                .navbar__menu{
                    background: none;
                    color: #23ea76;
                    border: none;
                    font-size: 2rem;
                    margin: auto 1em;
                }

            
            




/*--------°°°°°°°°°--------------*/
            /*MAIN*/
/*--------°°°°°°°°°--------------*/
    .card__main{        
        display: flex;
        flex-direction: column;
    }
    
    .card__main.deactive{
        display: none;
    }

        .main__hero{
            background-color: #eafaf1;
            padding: 1.2em;
        }

            .hero__title{
                font-size: 3rem;
                font-weight: 700;
                margin: 0.4em 0 1em 0;
                line-height: 1;
            }

            .hero__text{
                font-size: 1.250rem;
            }


        .main__suscriptions{
            display: flex;
            flex-direction: column;
            background-color: #eafaf1;
        }
        
            .main__offers{
                display: grid;
                grid-template-columns: 1fr;
            }

            .offer__item--tick{
                color: #080c16;
                width: 90%;
                font-size: 1rem;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                text-align: start;
                list-style: none;
                margin: 0.5em 0;
                line-height: 1;
            }

            .offer__item--tick::before{
                content: "✓";
                color: #00ad6a;
                padding: 0 0.09em;
            }

        .main__testimonial{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 2em 0;
        }

            .testimonial__image{
                margin: 0 auto;
            }
        
            .testimonial__title{
                width: 90%;
                font-weight: 300;
                margin: 0.4em auto 1em;
                text-align:center;
            }
        
            .testimonial__text{
                font-size: 0.8rem;
                font-weight: 700;
                color: var(--green);
                text-transform: uppercase;
            }

        .main__information{
            width: 90%;
            background-color: #fcfcfc;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }

            .information__top{
                font-size: 1.6rem;
                margin: 1.5em 0;
            }
            
            .information__grid{
                display: grid;
                grid-template-columns: 1fr;
                gap: 2em;
            }    

                .grid__item{
                    line-height: 1;
                }

                    .grid__title{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        color: #080c16;
                        font-size: 1.5rem;
                        font-weight: 900;
                        margin: 0.2em 0;
                    }
                
                    .grid__text{
                        font-size: 1.250rem;
                        color: rgb(94, 89, 89);
                        line-height: 1.5;
                    }


        
/*--------°°°°°°°°°--------------*/
            /*FOOTER*/
/*--------°°°°°°°°°--------------*/


    .card__footer{
        background-color: #080c16;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2em;
        margin: 5em 0 0 0;
    }
    .card__footer.deactive{
        display: none;
    }
        

        .footer__extra{
            display: flex;
            flex-direction: column;
        }

            .extra__img{
                width: 40%;
                height: 40%;
                margin: 1em auto 0.5em ;
            }

            .extra__btn{
                width: 100%;
                margin: 0.5em auto 2em;
                padding: 0.5em 1em;
                font-size: 1.2rem;
                font-weight: 700;
                color: #080c16;
                background-image: linear-gradient(90deg, #00ab6a, #23ea76);
                border: none;
            }

            
        .footer__columns{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 1em;
        }

            .footer__column{
                display: flex;
                flex-direction: column;
            }
        
                .column__title{
                    color: #fcfcfc;
                    font-size: 1rem;
                }
        
                .column__list{
                    list-style: none;
                    padding: 0;
                }
                
                    .column__item{
                        color: #1fe374;
                        font-size: 1rem;
                        margin: 0.6em 0;
                    }