@import url('big.css');
@import url('medium.css');
@import url('small.css');

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  
  *{
    margin: 0;
  }

  :root{
    --green:#00ad6a;
    --lightgreen:#1fe374;
    --gray:#d6dae5;
    --lightgray:#eafaf1;
    --black:#080c16;
    --white:#fcfcfc;
  }

  body {
    
    line-height: 1.5;
    
    -webkit-font-smoothing: antialiased;

    font-family: 'Work Sans';

  }
  
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  
  input, button, textarea, select {
    font: inherit;
  }
  
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }




/*--------°°°°°°°°°--------------*/
            /*HEADER*/
/*--------°°°°°°°°°--------------*/





.card__header {
    background-color: var(--lightgray);
    width: 100%;
    padding: 2em;
}

    .header__navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

            .navbar__logo {
                display: flex;
                align-items: center;
            }
                
                .logo__img{
                    width: 80%;
                    margin: 0 0 0 3em;
                }

    .navbar__menu {
        display: none;
    }

    .navbar__translate {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        transform: none;
    }

        .navbar__links {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: auto;
        }
    
            .navbar__item {
                list-style: none;
            }

                .navbar__link {
                    color: var(--green);
                    font-size: 1.2rem;
                    font-weight: 900;
                    text-decoration: none;
                    cursor: pointer;
                    padding: 0 1em;
                }

                .navbar__link:hover {
                    color: var(--black);
                }

                .navbar__button {
                    color: #00ab6a;
                    background:none;
                    border: solid 1.5px var(--green);
                    font-size: 1.1rem;
                    font-weight: 900;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }
                .navbar__button:hover{
                    color: black;
                }

                

            
            




/*--------°°°°°°°°°--------------*/
            /*MAIN*/
/*--------°°°°°°°°°--------------*/
    .card__main{        
        display: flex;
        flex-direction: column;
        transition: opacity 0.3s ease, pointer-events 0.3s ease;
    }
    
    .card__main.deactive{
        display: none;
        pointer-events: none;
    }

        .main__hero{
            background-color: #eafaf1;
            padding: 1.2em;
        }

            .hero__title{
                font-size: 3rem;
                font-weight: 700;
                margin: 0.4em 0 1em 0;
                line-height: 1;
            }

            .hero__text{
                font-size: 1.250rem;
            }


        .main__suscriptions{
            display: flex;
            flex-direction: column;
            background-color: #eafaf1;
        }
        
            .main__offers{
                display: grid;
                grid-template-columns: 1fr;
            }

            .offer__item--tick{
                color: #080c16;
                width: 90%;
                font-size: 1rem;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                text-align: start;
                list-style: none;
                margin: 0.5em 0;
                line-height: 1;
            }

            .offer__item--tick::before{
                content: "✓";
                color: #00ad6a;
                padding: 0 0.09em;
            }

        .main__testimonial{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 2em 0;
        }

            .testimonial__image{
                margin: 0 auto;
            }
        
            .testimonial__title{
                width: 90%;
                font-weight: 300;
                margin: 0.4em auto 1em;
                text-align:center;
            }
        
            .testimonial__text{
                font-size: 0.8rem;
                font-weight: 700;
                color: var(--green);
                text-transform: uppercase;
            }

        .main__information{
            width: 90%;
            background-color: #fcfcfc;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }

            .information__top{
                font-size: 1.6rem;
                font-family: 'Roboto';
                margin: 1.5em 0;
            }
            
            .information__grid{
                display: grid;
                grid-template-columns: 1fr;
                gap: 2em;
            }    

                .grid__item{
                    line-height: 1;
                }

                    .grid__title{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        color: #080c16;
                        font-size: 1.5rem;
                        font-weight: 900;
                        margin: 0.2em 0;
                    }
                
                    .grid__text{
                        font-size: 1.250rem;
                        color: rgb(94, 89, 89);
                        line-height: 1.5;
                    }


        
/*--------°°°°°°°°°--------------*/
            /*FOOTER*/
/*--------°°°°°°°°°--------------*/


    .card__footer{
        background-color: #080c16;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2em;
        margin: 5em 0 0 0;
        transition: opacity 0.3s ease, pointer-events 0.3s ease;
    }
    .card__footer.deactive{
        display: none;
        pointer-events: none;
    }
        

        .footer__extra{
            display: flex;
            flex-direction: column;
        }

            .extra__img{
                width: 40%;
                height: 40%;
                margin: 1em auto 0.5em ;
            }

            .extra__btn{
                width: 100%;
                margin: 0.5em auto 2em;
                padding: 0.5em 1em;
                font-size: 1.2rem;
                font-weight: 700;
                color: #080c16;
                background-image: linear-gradient(90deg, #00ab6a, #23ea76);
                border: none;
                cursor: pointer;
                transition: all 0.4s ease;
            }
            .extra__btn:hover{
                color: white;
            }

            
        .footer__columns{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 1em;
        }

            .footer__column{
                display: flex;
                flex-direction: column;
            }
        
                .column__title{
                    color: #fcfcfc;
                    font-size: 1rem;
                    font-family: 'Roboto';
                }
        
                .column__list{
                    list-style: none;
                    padding: 0;
                }
                
                    .column__item{
                        color: #1fe374;
                        font-size: 1rem;
                        font-family: 'Roboto';
                        margin: 0.6em 0;
                    }





@media (max-width: 900px) {

    .header__navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
        margin: 0;
    }

    .navbar__logo {
        width: 100%;
        justify-content: space-between;
    }
        .logo__img{
            padding: 1em;
        }

    .navbar__menu {
        display: block; 
        font-size: 2rem;
        color: var(--green);
        background: none;
        border: none;
        cursor: pointer;
    }
        .fa-solid{
            margin: 0 1em;
        }

    .navbar__translate {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--lightgray);
        width: 100%;
        height: 90vh;
        transform: translateX(-200%); 
        transition: transform 0.3s ease;
    }

    .navbar__links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 0;
        list-style: none;
    }

    .navbar__link {
        padding: 1em;
        color: var(--green);
        font-size: 2.4rem;
        font-weight: 900;
        text-decoration: none;
        transition: color 0.3s;
    }

    .navbar__link:hover {
        color: var(--lightgreen);
    }

    .navbar__button {
        background-image: linear-gradient(90deg, var(--green), var(--lightgreen));
        border: none;
        font-weight: 900;
        padding: 1em;
        margin: 1em 2em;
        cursor: pointer;
    }

    .navbar__translate.active {
        display: flex;
        transform: translateX(0);
    }
}

@media (min-width: 900px){

    .main__hero{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .hero__title{
            text-align: center;
            width: 50%;
            font-size: 4rem;
            margin: 0 0 0.4em 0;
        }
        .hero__text{
            text-align: center;
            width: 50%;
            font-size: 1.4rem;
            margin: 0 0 2em 0;
        }

    .main__suscriptions{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .main__offers{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            width: 90%;
            gap: 0;
            padding: 0;
            margin: 0;
        }
            .main__offer--small{
                display: flex;
                width: 70%;
                margin: auto;
                flex-grow: 0;
                flex-shrink: 0;
            }
            .main__offer--medium{
                display: flex;
                width: 100%;
                margin: auto 0;
                flex-grow: 0;
                flex-shrink: 0;
            }

                .info__title--medium{
                    text-align: center;
                    font-size: 4rem;
                }

                .info__price--medium{
                    text-align: center;
                    font-size: 1.6rem;
                }

                .offer__text--medium{
                    font-size: 0.8rem;
                    margin: 0 0 0 9em;
                }

            .main__offer--big{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                flex-grow: 0;
                flex-shrink: 0;
            }
                .info__title{
                    text-align: center;
                    font-size: 4rem;
                }
                .info__price{
                    text-align: center;
                    font-size: 1.6rem;
                }
                .offer__text{
                    font-size: 0.8rem;
                    margin: 0 0 0 5em;
                }

    .information__grid{
        grid-template-columns: repeat(2,1fr);
    }

    .card__footer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
        .footer__extra{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
        }
            .extra__img{
                    width: 30%;
                    height: 30%;
                    margin: 2em 0;
                    padding: 0;

            }
            .extra__btn{
                width: 50%;
                margin: 0;
            }

        .column__title{
            font-size: 1.4rem;
        }
        .column__item{
            font-size: 1.2rem;
        }


}
